[submodule "Toast-SnackBar-LocalizeApp"]
	path = Toast-SnackBar-LocalizeApp
	url = https://github.com/sabkayar/Toast-SnackBar-LocalizeApp.git
[submodule "SampleJobSchedular"]
	path = SampleJobSchedular
	url = https://github.com/sabkayar/JobSchedularSample.git
[submodule "android-workmanager-start_java"]
	path = android-workmanager-start_java
	url = https://github.com/sabkayar/android-workmanager-java-sample.git
[submodule "sample-broadcast-receiver"]
	path = sample-broadcast-receiver
	url = https://github.com/sabkayar/sample-broadcast-receiver.git
[submodule "HelloToast"]
        path= HelloToast
	url = https://github.com/sabkayar/HelloToast.git
[submodule "SimpleCalc"]
        path= SimpleCalc
	url = https://github.com/sabkayar/SimpleCalc.git
[submodule "TwoActivities"]
	path = TwoActivities
	url = https://github.com/sabkayar/TwoActivities.git
[submodule "ScoreKeeper"]
	path = ScoreKeeper
	url = https://github.com/sabkayar/ScoreKeeper.git
